@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation {
  height: 90px;
  width: 100%;
  padding: 0px 140px;
  background-color: #f0f9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0;
}

.name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.name ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.name ul li {
  list-style: none;
}

.name ul li a {
  color: black;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.name ul li a:hover {
  text-decoration: underline;
}

.sym ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 40px;
}

.sym ul li {
  list-style: none;
}

.sym ul li a {
  color: black;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.main {
  height: 515px;
  width: 100%;
  background-color: #f0f9ff;
}

.heading {
  height: 135px;
  width: 100%;
  background-color: #f0f9ff;
  padding: 50px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 31px;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #2d2d2d;
}

.fpara {
  text-align: center;
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(40, 40, 40);

}

.spara {
  padding: 0px 292px;
  margin-top: 48px;
  text-align: center;
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(40, 40, 40);
}

.download {
  padding: 13px;
  margin-top: 10px;
  height: 56px;
  width: 275px;
  background-color: #fe9615;
  border: 2px solid black;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.download:hover {
  background-color: #ffa83d;
}

.core {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.core span {
  color: #77797c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: small;
  font-weight: 500;
}

.core a {
  color: #2098f5;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: small;
}

.other {
  height: 20px;
  width: 107px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: small;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.why {
  padding: 68px 0px 10px 108px;
  height: 270px;
  width: 681px;
}

.why h1 {
  padding: 20px 0px;
  height: 71px;
  font-size: 29px;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.why p {
  color: #4f4f52;
  font: 400 18px / 30px "Inter", sans-serif;
}

.made {
  padding: 68px 68px 10px 40px;
  height: 270px;
  width: 681px;
}

.made h1 {
  padding: 20px 0px;
  height: 71px;
  font-size: 29px;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.made p {
  color: #4f4f52;
  font: 400 18px / 30px "Inter", sans-serif;
}

.made p a {
  text-decoration: none;
  color: #2098f5;
}

.features {
  height: 440px;
  width: 100%;
}

.headingfeatures {
  padding: 36px;
  height: 115px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flexx {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.box {
  padding: 35px;
  height: 260px;
  width: 335px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  transition: box-shadow 150ms ease-out;
}

.box:hover {
  box-shadow: 0px 0px 17px 13px #f0efef;
}

.number {
  height: 50px;
  width: 50px;
  background-color: #fff1e4;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 49px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #361415;
  font-weight: 700;
}

.middle {
  margin: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
  font-weight: 600;
  color: #361415;
}

.box p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  color: #77797c;
  line-height: 24px;
}

.color {
  background-color: #f7d7d5;
}

.colors {
  background-color: #def4ed;
}

.extensions {
  height: 600px;
  width: 100%;
  background-color: #f0f9ff;
}

.popular {
  padding: 80px 115px;
  padding-bottom: 0px;
  height: 130px;
  width: 100%;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 23px;
}

.container {
  height: 300px;
  width: 100%;
  padding: 15px 0px 15px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  column-gap: 330px;
  row-gap: 35px;
}

.git a {
  text-decoration: none;
  color: #2098f5;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.branches {
  font: 400 14px / 24px "Inter", sans-serif;
  color: #77797c;
}

.bbutton {
  padding: 10px 20px;
  height: 48px;
  width: 235px;
  display: block;
  margin-left: 996px;
  margin-right: 30px;
  margin-top: 32px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: #010001;
  font: 400 14px / 24px "Inter", sans-serif;
  transition: background-color 300ms ease-out;
}

.bbutton:hover {
  background-color: black;
  color: white;
}

.footer {
  padding: 0px 82px;
  height: 500px;
  width: 100%;
  background-color: #13181b;
}

.flex {
  padding-top: 94px;
  display: flex;
  justify-content: space-around;
}

.four {
  line-height: 26px;
}

.four p {
  color: rgb(239, 239, 239);
  font: 400 14px / 24px "Inter", sans-serif;
}

.four ul {
  padding-left: 17px;
  color: #5f6569;
}

.four ul li a {
  text-decoration: none;
  color: #98d2ff;
  font: 400 14px / 24px "Inter", sans-serif;
  transition: color 250ms ease-out;
}

.four ul li a:hover{
  color: white;
}

.foot{
  margin-top: 100px;
  padding: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  font: 400 14px / 24px "Inter", sans-serif;
  font-size: small;
  color: #a6aab2;
}